<h2><%= job ? "Edit Job" : "Add New Job" %></h2>

<form method="POST" action="<%= job ? '/jobs/update/' + job._id : '/jobs' %>">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

  <div>
    <label>Company:</label>
    <input
      type="text"
      name="company"
      value="<%= job ? job.company : '' %>"
      required
    />
  </div>

  <div>
    <label>Position:</label>
    <input
      type="text"
      name="position"
      value="<%= job ? job.position : '' %>"
      required
    />
  </div>

  <div>
    <label>Status</label>
  <select name="status">
    <option value="pending" <%= job?.status === 'pending' ? 'selected' : '' %>>Pending</option>
    <option value="interview" <%= job?.status === 'interview' ? 'selected' : '' %>>Interview</option>
    <option value="declined" <%= job?.status === 'declined' ? 'selected' : '' %>>Declined</option>
  </select>
  </div>

  <div>
    <button type="submit"><%= job ? "Update" : "Create" %></button>
    <a href="/jobs"><button type="button">Cancel</button></a>
  </div>
</form>
